*.pyc

.cache/*
tests/.cache/*
tests/.pytest_cache/*

figures/*/.snakemake/*
figures/*/tex/*

data/*
.vscode/*
document/*
simulations/*
multi_area_model_CODE/*
multiarea_model/multi_area_model_CODE/*
indegrees/*
multiarea_model/data_multiarea/custom_data_files/*
config_files/*
